body {
    background-color: rgb(120, 221, 120);
  }
  
  h1 {
    color: rgb(58, 58, 158);
    fontsize: 40px;
    font-family: 'Georgia', Times New Roman, Times, serif;
    text-align: center;
  }
  h2 {
      color: rgb(58, 58, 158);
      font-size: 30px;
      font-family: 'Georgia', Times New Roman, Times, serif;
      text-align: center;
  }
  
  p {
      color: rgb(58, 58, 158);
    font-family: 'Georgia', Times New Roman, Times, serif;
    font-size: 20px;
    text-align: center;
  }
